<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ViajaFacs - Meu Perfil</title>
    <link rel="icon" href="images/iconviajafacs.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/style.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand">
                <img src="images/logo-viajafacs.png" height="60" alt="ViajaFacs" loading="lazy"
                    style="margin-top: -1px;" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="user.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active">Meu Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container p-3" id="form-container">
        <div class="row">
            <div class="col">
                <h2>Informações do seu Perfil</h2>
                <h6 class="card-title fw-normal"><b id="AmareloTexto">E-mail:</b> carlosolym@gmail.com</h6>
                <h6 class="card-text fw-normal"><b id="AmareloTexto">Nome:</b> Carlos Olympio</h6>
                <h6 class="card-text fw-normal"><b id="AmareloTexto">Data de Nascimento:</b> 04/04/2001</h6>
                <h6 class="card-text fw-normal"><b id="AmareloTexto">CPF:</b> 086.801.705-18</h6>
                <h6 class="card-text fw-normal"><b id="AmareloTexto">Telefone:</b> (71) 99710-6280</h6>
                <h6 class="card-text fw-normal"><b id="AmareloTexto">Senha:</b> **************</h6>
                <input type="submit" class="btn btn-primary" value="Editar">
            </div>
        </div>
    </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="javascript/funcoes.js"></script>
</body>

</html>